//- This sets the greeting at the end of every e-mail
.text-block
  - var organizationUrl = ORGANIZATION_URL
  - var team = APPLICATION_NAME
  - var settingsUrl = settingsUrl
  p= t('general.seeYou')
    a.organization(href=organizationUrl)= team
    | !
  p= t('general.yourTeam', { team })
  br
  p= t('general.settingsHint')
    a.settings(href=settingsUrl)= t('general.settingsName')
    | !
  
