//- This sets the greeting at the end of every e-mail
.text-block
  - var organizationUrl = ORGANIZATION_URL
  - var team = APPLICATION_NAME
  - var settingsUrl = settingsUrl
  - var renderSettingsUrl = renderSettingsUrl
  p.single-line= t('general.seeYou')
    a.organization(href=organizationUrl)= team
    | !
  p.single-line= t('general.yourTeam', { team })

  if renderSettingsUrl
    br
    p.single-line= t('general.settingsHint')
      a.settings(href=settingsUrl)= t('general.settingsName')
      | !
  
